<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../styles/css/element-ui.css">
</head>
<body>
    <div id="app">
        <el-form style="margin-left: 20px;margin-top: 20px" :inline="true" :model="search" class="demo-form-inline">
            <el-form-item label="教师姓名">
                <el-input v-model="search.valueOne" placeholder="请输入教师姓名"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="initList()"> <i class="fa fa-search"></i> 查询</el-button>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="clearSearch()"> <i class="el-icon-refresh-left"></i> 重置</el-button>
            </el-form-item>
            <el-button type="success"  @click="oppenAddDialog()"> <i class="el-icon-plus"></i> 新增</el-button>
        </el-form>

        <el-dialog  title="新增教师" :visible.sync="dialogFormVisibleAdd">
            <el-form :model="form" :rules="rules" ref="ruleForm" >
                <el-form-item v-if="flag===true" label="账号" :label-width="formLabelWidth"  prop="username">
                    <el-input  v-model="form.username" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item v-if="flag===true" label="密码" :label-width="formLabelWidth"  prop="password">
                    <el-input type="password" v-model="form.password" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item  label="姓名" :label-width="formLabelWidth"  prop="name">
                    <el-input  v-model="form.name" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item  label="电话" :label-width="formLabelWidth"  prop="phone">
                    <el-input  v-model="form.phone" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="性别" :label-width="formLabelWidth">
                    <el-radio-group v-model="form.sex">
                        <el-radio label="男"></el-radio>
                        <el-radio label="女"></el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item  label="家庭地址" :label-width="formLabelWidth"  prop="address">
                    <el-input  v-model="form.address" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item  label="年龄" :label-width="formLabelWidth"  prop="age">
                    <el-input-number  v-model="form.age" autocomplete="off"></el-input-number>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisibleAdd = false">取 消</el-button>
                <el-button type="primary" @click="saveBtn('ruleForm')">确 定</el-button>
            </div>
        </el-dialog>

        <el-table
                :data="tableData"
                border>
            <el-table-column
                    prop="date"
                    label="序号">
                <template slot-scope="scope">
                    {{scope.$index+1}}
                </template>
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="姓名">
            </el-table-column>
            <el-table-column
                    label="账号">
                <template slot-scope="scope">
                    {{scope.row.user.name}}
                </template>
            </el-table-column>
            <el-table-column
                    prop="phone"
                    label="电话">
            </el-table-column>
            <el-table-column
                    prop="sex"
                    label="性别">
            </el-table-column>
            <el-table-column
                    prop="age"
                    label="年龄">
            </el-table-column>
            <el-table-column
                    prop="address"
                    label="家庭地址">
            </el-table-column>
            <el-table-column
                    prop="createTime"
                    label="创建时间">
            </el-table-column>
            <el-table-column
                    prop="updateTime"
                    label="修改时间">
            </el-table-column>
            <el-table-column
                    fixed="right"
                    label="操作"
                    width="150">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            @click="handleEdit(scope.row.id)">编辑</el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete(scope.row.id)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>

        <el-pagination
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="search.pageNumber"
                :page-sizes="[5,10]"
                :page-size="search.pageCount"
                layout="total, sizes, prev, pager, next, jumper"
                :total="total">
        </el-pagination>
    </div>
</body>
</html>
<link rel="stylesheet" href="../../styles/css/font-awesome.min.css">
<script src="../../styles/js/vue.js"></script>
<script src="../../styles/js/element.js"></script>
<script src="../../styles/js/axios.js"></script>
<script src="../../styles/js/httpRequest.js"></script>
<script>
    new Vue({
        el:"#app",
        data:function (){
            return{
                form:{},
                tableData:[],
                search:{
                    pageNumber:1,
                    pageCount:5
                },
                total:0,
                dialogFormVisible:false,
                dialogFormVisibleAdd:false,
                formLabelWidth:'120px',
                multipleSelection: [],
                roleList: [],
                tableDataPro:[],
                ruleForm: {},
                rules: {
                    username: [
                        { required: true, message: '请输入账号', trigger: 'blur' },
                    ],
                    password: [
                        { required: true, message: '请输入密码', trigger: 'blur' },
                    ],
                    name: [
                        { required: true, message: '请输入姓名', trigger: 'blur' },
                    ],
                    phone: [
                        { required: true, message: '请输入电话', trigger: 'blur' },
                    ],
                },
                flag:true,
                villList:[]
            }
        },
        methods:{
            //列表查询
            initList(){
                axiosPostRequest("/teacher/findPage",this.search).then(res=>{
                    this.tableData=res.records
                    this.total=res.total
                })
            },
            handleSizeChange(val) {
                this.search.pageCount=val;
                this.initList();
            },
            handleCurrentChange(val) {
                this.search.pageNumber=val;
                this.initList();
            },
            //编辑
            handleEdit(id){
                this.flag=false;
                this.dialogFormVisibleAdd=true;
                axiosGetRequest(`/teacher/findById/${id}`).then(res=>{
                    this.form=res;
                })
            },
            //删除
            handleDelete(id){
                this.$confirm('此操作将永久删除该教师, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                   axiosGetRequest(`/teacher/deleteById/${id}`).then(res=>{
                       if (res.code===20000){
                           this.$message.success(res.message)
                           this.initList();
                       }else {
                           this.$message.error(res.message)
                       }
                   })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            //跳转到添加页
            oppenAddDialog(){
                this.flag=true;
                this.form={};
                this.dialogFormVisibleAdd=true;
            },
            //新增或修改
            saveBtn(formName){
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                       if (this.flag){
                           axiosPostRequest("/teacher/save",this.form).then(res=>{
                               this.dialogFormVisibleAdd=false;
                               if (res.code===20000){
                                   this.$message.success(res.message)
                                   this.initList();
                               }else {
                                   this.$message.error(res.message)
                               }
                           })
                       }else {
                           axiosPostRequest("/teacher/update",this.form).then(res=>{
                               this.dialogFormVisibleAdd=false;
                               if (res.code===20000){
                                   this.$message.success(res.message)
                                   this.initList();
                               }else {
                                   this.$message.error(res.message)
                               }
                           })
                       }
                    } else {
                        return false;
                    }
                });
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            //重置查询框
            clearSearch(){
                this.search={
                    pageNumber:1,
                    pageCount:5
                }
                this.initList();
            }
        },
        created(){
            this.initList();
        }
    })
</script>